body{
	overflow-x: hidden;
}

.container{
	width: 100%;
	margin: 0;
}

.main-content{
	padding: 0;
}

.list-group-item > a{
	text-decoration: none;
	color: inherit;
}

.centered{
	margin: 0 auto;
	max-width: 400px;
}

.navbar-toggle{
	margin-right: 5px;
}

.searchbar{
	margin-bottom: 20px;
}

#results .list-group-item{
	cursor: pointer;
}

h5{
	margin-bottom: 10px;
}

.panel{
	width: 100%;
	position: absolute;
	right: 0;
	-webkit-transition: right .3s ease-in-out;
	   -moz-transition: right .3s ease-in-out;
			transition: right .3s ease-in-out;
}

.slide-right{
	right: -100%;
}

.slide-left{
	right: 100%;
}

a.glyphicon{
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding-left: 0;
}

@media only screen and (max-width:480px) {

	.jumbotron p{
		font-size: 14px;
	}

	.jumbotron p.main{
		font-size: 16px;
		padding-bottom: 30px;
	}
}