.container{
	width: 100%;
	margin: 0;
}

.main-content{
	padding: 0;
}

.list-group-item > a{
	text-decoration: none;
	color: inherit;
}

.centered{
	margin: 0 auto;
	max-width: 400px;
}

.navbar-toggle{
	margin-right: 0;
}

.searchbar{
	margin-bottom: 20px;
}

 @media only screen and (max-width:480px) {

	.jumbotron p{
		font-size: 14px;
	}
}