html{
	overflow-x: hidden;
}

h2, h3{
	margin-top: 0;
}

.container{
	width: 100%;
	margin: 0;
}

#details .head{
	min-height: 100px;
	padding: 20px 10px;
}

#details h3{
	display: inline-block;
	width: 100%;
}

#details a{
	display: inline-block;
	float: left;
	width: 50px;
	height: 0px;
	text-decoration: none;
	font-size: 28px;
	padding-left: 0;
	color: white;
}

#details span{
	display: inline-block;
	min-width: 100px;
	float: left;
	margin-left: 40px;
	margin-top: -2px;
}

.head{
	position: relative;
	padding: 10px 0;
	background-color: #008cba;
	border-color: #006687;
	color: white;
	display: inline-block;
	width: 100%;
}

.main-content{
	padding: 0;
}

.list-group-item > a{
	text-decoration: none;
	color: inherit;
}

.centered{
	margin: 0 auto;
	max-width: 400px;
}

.navbar-toggle{
	margin-right: 5px;
}

#results{
	margin-top: -5px;

}

#results .list-group-item{
	cursor: pointer;
}

#results .list-group-item:active{
	background-color: #eee;
}

.result-wrap{
	padding: 0;
}

.result-wrap h5{
	padding: 10px;
}

h5{
	margin-bottom: 10px;
}

.pointer{
	cursor: pointer;
}

.panel{
	width: 100%;
	position: absolute;
	right: 0;
	margin: 0;
	-webkit-transition: right .3s ease-in-out;
	   -moz-transition: right .3s ease-in-out;
			transition: right .3s ease-in-out;
}

.slide-right{
	right: -100%;
}

.slide-left{
	right: 100%;
}

.no-results{
	padding-bottom: 20px;
}

.equivalents{
	border-top: 2px solid #ddd;
	min-height: 400px;
	padding-left: 0;
	padding-right: 0;
}

#results > h5{
	background-color: #efefef;
	margin: 0;
	padding: 20px 10px;
}

.equivalents > h5{
	padding: 20px 0;
	background-color: #efefef;
	margin: 0;
	eidth: 100%;
	text-align: center;
}

.equivalents .list-group-item{
	cursor: pointer;
}

.product-details{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #dedede;
}

.product-details p{
	margin-bottom: 0px;
}

.secondary{
	margin-top: 0;
	padding: 20px 10px;
	background-color: #eee;
	padding-bottom: 50px;
}

.jumbotron{
	margin-top: -5px;
	margin-bottom: 0;
	padding-top: 50px;
}

.price{
	float: right;
	font-size: 20px;
	margin-top: -10px;
}

p.price{
	margin-top: -20px;
}

.price-bar{
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	transition: all .6s ease-out;
	width: 0%;
	height: 6px;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

@media only screen and (max-width:480px) {

	.jumbotron p{
		font-size: 14px;
	}

	.jumbotron p.main{
		font-size: 16px;
	}

	small{
		font-size: 12px;
	}
}