<!DOCTYPE html>
<html class="no-js" ng-app="farmAhorro"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>FarmAhorro</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body ng-controller="SearchController as search">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="main-content container bs-docs-container">           

		<div id="listing" class="panel">
			<div class="head search">
				<search-bar></search-bar>
			</div>

	        <div class="col-md-12 col-lg-8 col-lg-push-2 result-wrap">
	    		<div id="results" class="bs-component" ng-show="search.results.length">
	    			<h5>
	    				&iquest;Est&aacute;s buscando alguno de estos?
	    			</h5>	
		    		<ul class="list-group">
		    			<li class="list-group-item" ng-repeat="result in search.results | orderBy : 'price'" 
		    			ng-click="search.getDetails(result.id)">
		    				<h4 class="list-group-item-heading">
		    					{{result.bioequivalent_product}}
		    				</h4>
		    				<p class="list-group-item-text">
								{{result.bioequivalent_lab}}
		    				</p>
		    			</li>
		    		</ul>
	    		</div>
	    	</div>
	    	<div ng-show="search.query.length && search.results.length == 0" 
	    		class="no-results col-md-12">
	    		<h5>No hay resultados para tu b&uacute;squeda.</h5>
	    	</div>
	    	<static-info></static-info>
	    </div>

	    <div id="details" class="panel slide-right">
    		<div class="head">
				<h3>
					<a href="#list" class="col-md-2 glyphicon glyphicon-chevron-left" 
		    			ng-click="search.goToListing()"></a>
		    		<span>
		    			{{search.productDetails.bioequivalent_product}}
					</span>
				</h3>
			</div>
			<div class="product-details col-md-12">
				<p>
					<label>Laboratorio:</label>
					{{search.productDetails.bioequivalent_lab}}
				</p>
				<p>
				<label>Principio activo:</label> 
					<a href="http://es.wikipedia.org/wiki/{{search.productDetails.active_ingredient | lowercase}}" target="_blank">
						{{search.productDetails.active_ingredient}}
					</a>
				</p>
				<p>
					<label>Uso:</label>
					{{search.productDetails.usage}}
				</p>
				<p class="price" ng-show="search.productDetails.price > 0">
    				{{ search.productDetails.price | currency : $ : 0 }}
    			</p>
    			<p class="price na" ng-show="search.productDetails.price == 0">
    				Precio no disponible
    			</p>
    			<div class="price-bar" 
    				data-price="{{search.productDetails.price}}" data-max="{{search.maxPrice}}" 
    				style="width:{{(search.productDetails.price/search.maxPrice)*100}}%"></div>
			</div>

	    	<div id="equivalents" class="col-md-12 equivalents">
	    		<h5>Bioequivalentes:</h5>
	    		<ul ng-show="search.bioequivalents.length > 0" 
	    			class="list-group">

	    			<li class="pointer list-group-item" 
	    			ng-repeat="product in search.bioequivalents | orderBy:'price'"
	    			ng-click="search.getDetails(product.id)"
	    			ng-show="product.price > 0">
	    				<product></product>
	    			</li>

	    			<li class="pointer list-group-item" 
	    			ng-repeat="product in search.bioequivalents | orderBy:'price'"
	    			ng-click="search.getDetails(product.id)"
	    			ng-show="product.price == 0">
	    				<product></product>
	    			</li>
	    		</ul>
	    	</div>
	    </div>

    </div> <!-- #main-container -->

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.touchSwipe.min.js"></script>
	<script src="js/app.js"></script>

</body>
</html>
